.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: rgb(228,0,43);
    color: white;
    font-family: 'a Astro Space';
    font-size: 64px;
    text-underline-offset: 8px;
    line-height: 75px;
    position: absolute;
}

.img{
    
}

.h1 {
    padding: "60px"
}

@font-face {
    font-family: 'a Astro Space';
    font-style: normal;
    font-weight: 400;
    src: local('a Astro Space'), url('https://fonts.cdnfonts.com/s/47812/AstroSpace-0Wl3o.woff') format('woff');
}
