.SideBar {
    position: fixed;
    height: 100%;
    right: 0;
    border-width: 20px;
    border-left: 2px solid rgb(228,0,43);
    border-right: 2px solid black;
}

.TerminalIcon {
    background-color: transparent;
    border: none;
    color: rgb(228,0,43);
    font-family: 'Helvetica Neue';
    font-size: 64px;
    font-weight: bold;
}

.PageTitle {
    background-color: transparent;
    border: none;
    color: rgb(228,0,43);
    font-family: 'Helvetica Neue';
    font-size: 36px;
    font-weight: bold;
}

.TerminalIcon:hover,
.TerminalIcon:active,
.TerminalIcon:focus,
.TerminalIcon:visited {
    background-color: transparent;
    border: none;
}

.link {
    color: rgb(228,0,43);
    text-decoration: none;
    transition: 300ms ease-in-out;
    cursor: pointer;
}
.link:hover {
    color: rgb(228,0,43);
    text-decoration: underline;
}

#joinUsButton {
    margin-top: 20px;
}

#joinUsButton a {
    background-color: rgb(228,0,43);
    padding: 10px;
    color: white;
    margin-top: 10px;
    border-radius: 40px;
    border: 2px solid rgb(228,0,43);
}

#joinUsButton a:hover {
    color: rgb(228,0,43);
    background-color: white;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .SideBar {
        height: 110px;
        width: 110px;
        transform: scale(0.75);
        background-color: white;
        border-radius: 50%;
        z-index: 1;
        border: 2px solid rgb(228,0,43);
        margin: 10px 25px 0 0;
    }

    #outsideSidebarCircles {
        display: none;
    }
}