.container {
  height: 100vh;
}

.header {
  display: flex;
  height: 90px;
  width: 100%;
  background-color: var(--chap-red);
  align-items: center;
  justify-content: left;
  margin-bottom: 10px;
}

.title {
  color: var(--chap-white);
  font-size: var(--heading);
  padding: 25px 25px 30px 50px;
  height: var(--heading-height);
  background: var(--chap-red);
}

.header2 {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-left: 15px;
  padding-bottom: 0;
}

.title2 {
  font-size: var(--xl)
}

.section {
  padding: 0rem 5rem;
  display: flex;
  justify-content: center;
  overflow-x: scroll;
  padding-bottom: 17px;
  /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box;
  /* So the width will be 100% + 17px */
}