.form {
    width: 600px;
}

.selectInput {
    height: 60px;
    background-color: #E4002B;
    border: 0px solid;
    border-radius: 10px;
    color: #fff;
}

.joinText {
    font-size: 60px;
}

.form input {
    background-color: #D9D9D9;
    height: 50px;
    width: 100%;
    border: 0px solid;
    border-radius: 10px;
    box-shadow: 0px 2px 1px 1px #c3c3c3;
}

.form textarea {
    background-color: #D9D9D9;
    height: 200px;
    width: 100%;
    resize: none;
    border: 0px solid;
    border-radius: 10px;
    box-shadow: 0px 2px 1px 1px #c3c3c3;
}