.circle {
    border-radius: 50%;
    background-color: #E4002B;
    height: 1em;
    width: 1em;
    position: relative;
    margin: 5px;
}

.positions {
    position: relative;
    display: flex;
    justify-content: right;
}

.bottomright {
    position: relative;
    align-self: flex-end;
}