.container {
  display: flex;
  width: fit-content;
  flex-direction: column;
  background-color: red;
  color: white;
  font-family: "Helvetica Neue Bold", "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 72px;
  text-underline-offset: 12px;
  line-height: 80px;
}

