.container {
  display: flex;
  width: fit-content;
  flex-direction: column;
  background-color: red;
  color: white;
  font-family: "Helvetica Neue Bold", "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 60px;
  text-underline-offset: 8px;
  line-height: 75px;
}

@media only screen and (max-width: 950px) {
  .container {
    transform: scale(0.5)
  }
}