.img {
    margin: 15px;
    transition: all 0.2s ease-in-out;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-color: var(--chap-red);
<<<<<<< HEAD
<<<<<<< HEAD
    animation: slideInFromLeft 2s linear 4s;
=======
    animation: slideInFromLeft 2s linear 2.5s;
>>>>>>> 38cd357 (Working on transition when loading in and name change)
=======
    animation: slideInFromLeft 2s linear 2.5s;
>>>>>>> 744992a (Moving Some Things Around and Added Some Transitions)
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

.homePageText_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.displayText {
    margin: 70px;
    font-size: var(--med);
    color: var(--chap-white);
    transition: all 0.2s ease-in-out;
}

.homePageText {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 700px) {
    .img{
        width: 249px;
        height: 50px;
        margin: 10px;
        transition: all 0.2s ease-in-out;
    }

    .homePageText_wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .displayText {
        margin-left: 15px;
        margin-top: 15px;
        justify-content: left;
        left: 0;
        transition: all 0.2s ease-in-out;
    }

    .homePageText{
        display: inline;
    }
}


@media only screen and (min-width: 701px) and (max-width: 1040px){
    .img{
        width: 298px;
        height: 60px;
        margin: 10px;
        transition: all 0.2s ease-in-out;
    }

    .homePageText_wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .displayText {
        margin-left: 40px;
        margin-top: 15px;
        justify-content: left;
        left: 0;
        transition: all 0.2s ease-in-out;
    }

    .homePageText{
        display: inline;
    }
}