.red_circle {
    display: flex;
    position: relative;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: var(--chap-red);
    border-color: var(--chap-red);
    margin: 10px 0px 0px 0px;
}
.white_circle {
    display: flex;
    position: relative;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: var(--chap-white);
    border-color: var(--chap-red);
    border: 2px solid var(--chap-red);
    margin: 10px 0px 0px 0px;
}
.container {
    position: absolute;
    right: 5px; bottom: 40px;
    width: 30px;
    background-color: var(--chap-black);
}
