


.cardContainer {
    background-color: var(--chap-grey);
}

.title{
    padding: 15px;
    font-weight: 600;
    color: var(--chap-red);
}

.content{
    padding: 20px;
    font-size: var(--sm);
    font-weight: 600;
    color: var(--chap-red);
    word-wrap: break-word;
    width: 80%;
    margin: 0 auto;
}

.logo{
    font-weight: 600;
    color: var(--chap-red);
    font-size: var(--xl);
    text-align: end;
    padding: 0px 40px;
}

.link{
    text-align: center;
    margin: 5px 0px;
}

.seperator{
    width: 50%;
    margin: 0 auto;
}