/* Vars */
:root {
  --chap-font: "CHAP Font";
  --chap-red: #E4002B;
  --chap-white: #FFFFFF;
  --chap-grey: #D9D9D9;
  --chap-shadow: #C3C3C3;
  --chap-blue: #017BFF;
  --xs: 1.2rem;
  --sm: 1.6rem;
  --med: 2rem;
  --lg: 2.4rem;
  --xl: 2.8rem;
  --xxl: 3.2rem;
  --heading: 3.6rem;
  --heading-height: 9rem;
}

/* Fonts */
@font-face {
  font-family: 'CHAP Font';
  font-style: normal;
  font-weight: 400;
  src: local('CHAP Font'), url('https://fonts.cdnfonts.com/s/15406/Audiowide-Regular.woff') format('woff');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--chap-font), sans-serif, Helvetica !important;
  font-size: 62.5% !important; /* Now the base font size is 10px, use rems in decimal to get desired size */
  overflow-x: hidden;
}


@media only screen and (min-width: 768px) {
  .pageMargin {
    margin-right: 8rem;
  }
}

.row {
  width: 100%;
  padding-left: 12px;
}
.col {
  padding-right: 0 !important;
}
.col-6 {
  padding-right: 0 !important;
}
.col-md-6 {
  padding-right: 0 !important;
}
.col-md-7 {
  padding-right: 0 !important;
}
.col-md-5 {
  padding-right: 0 !important;
}
.col-md-3 {
  padding-right: 0 !important;
}
.col-md {
  padding-right: 0 !important;
}
.col-xl-5 {
  padding-right: 0 !important;
}
.col-xl {
  padding-right: 0 !important;
}
.col-lg-6 {
  padding-right: 0 !important;
}
.col-sm-3 {
  padding-right: 0 !important;
}
.col-sm-6 {
  padding-right: 0 !important;
}
.col-12 {
  padding-right: 0 !important;
}

@media screen and (max-width: 768px) {
  #homePage {
    margin-right: 0;
  }
}