html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#homePage {
  margin-right: 110px;
}

@media screen and (max-width: 768px) {
  #homePage {
    margin-right: 0;
  }
}