
 
.container {
    width: 90%;
    border: 3px solid #333;
    border-radius: 10px;
    background-color: #333;
    color: blue;
    height: 500px;
    position: relative;
}

.howru {
    animation-name: howru;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    position: absolute;
    margin-left: 10%;
    margin-top: 10%;
    font-size: 32px
}

@keyframes howru {
    0%{
        color: blue;
    }
    25% {
        transform: translateX(500%);
        color: green;
    }
    50% {
        transform: translateX(500%) translateY(500%);
        color: yellow;
    }
    75% {
        transform: translateX(0%);
        transform: translateY(500%);
        color: red;
    }
    100% {
        transform: translateX(0%);
        transform: translateY(0%);
        color: blue;
    }
}